buildscript {
    repositories {
        maven {
            url "{{remoteRepository}}"
        }
        mavenLocal()
        mavenCentral()
    }
}

plugins {
	id 'io.github.jumosqu12.screenplayarchitecture' version '{{screenArchitectureV}}'
	id 'java'
    id 'eclipse'
    id 'idea'
}

group '{{groupId}}'

sourceCompatibility = {{javaVersion}}

repositories {
    maven {
        url "{{remoteRepository}}"
    }
    mavenLocal()
}

ext {
    serenityVersion = '{{serenityV}}'
    serenityCucumberVersion = '{{cucumberV}}'
    lombokVersion = '{{versionLoom}}'
    junit = '{{junitV}}'
    hamcrest = '{{hamcrestV}}'
    {{webDriverV}}
}

dependencies {
    implementation "net.serenity-bdd:serenity-core:$rootProject.ext.serenityVersion"
    implementation "net.serenity-bdd:serenity-junit:$rootProject.ext.serenityVersion"
    implementation "net.serenity-bdd:serenity-screenplay:$rootProject.ext.serenityVersion"
    implementation "net.serenity-bdd:serenity-cucumber:$rootProject.ext.serenityCucumberVersion"
    implementation 'org.slf4j:slf4j-simple:2.0.5'
    implementation "{{libreryToUse}}"

    //Test compilation
    testImplementation "junit:junit:$rootProject.ext.junit"
    testImplementation "org.hamcrest:hamcrest-all:$rootProject.ext.hamcrest"
    {{webDriverLibrary}}

//Lombok dependencies
    compileOnly "org.projectlombok:lombok:${lombokVersion}"
    annotationProcessor  "org.projectlombok:lombok:${lombokVersion}"
    testCompileOnly  "org.projectlombok:lombok:${lombokVersion}"

    //Additional library

}