package {{groupId}}.{{principalPackage}}.stepdefinitions;

import io.cucumber.java.Before;

public class StepDefinition {

    @Before
    public void config(){
        OnStage.setTheStage(new OnlineCast());
        OnStage.theActorCalled("user");
    }

    ${{methodUserInterface}}

}
